<% if(success_msg != '') { %>
<div class="alert alert-success" id="alert_succ"><%= success_msg %></div>
<%} if (error_msg != '') { %>
<div class="alert alert-danger" id="alert_succ"><%= error_msg %></div>
<% } %>