<!DOCTYPE html>
<html>
  <head>
    <title>hii</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create user</h1>
    <form method="post">
       
            <input type="text" name="username" placeholder="Email">
            <input type="text" name="password" placeholder="password">
            <input type="text" name="employeeID" placeholder="employeeID">
            <input type="text" name="firstName" placeholder="firstName">
            <input type="text" name="lastName" placeholder="lastName">

            <input type="text" name="department" placeholder="department">
            <input type="text" name="jobTitle" placeholder="jobTitle">
            <input type="text" name="level" placeholder="level">
            <input type="text" name="teamLeader" placeholder="team Leader">
            <input type="text" name="duration" placeholder="duration">
            
            
            
    
   
        <input type="submit" value="submit" class="btn btn-success">
    </form>
  </body>
</html>
